In [1]:
import pandas as pd
import numpy as np
import nltk # Natural Language Tool Kit
from nltk.corpus import stopwords

In [2]:
dataset=pd.read_csv("cell_phone_and_accessories_review.csv")

c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dataset.info()
dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128437 entries, 0 to 1128436
Data columns (total 13 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Unnamed: 0      1128437 non-null  int64
 1   overall         1128437 non-null  float64
 2   verified        1128437 non-null  bool
 3   reviewTime      1128437 non-null  object
 4   reviewerID      1128437 non-null  object
 5   asin            1128437 non-null  object
 6   style           605241 non-null   object
 7   reviewerName    1128281 non-null  object
 8   reviewText      1127669 non-null  object
 9   summary         1127912 non-null  object
 10  unixReviewTime  1128437 non-null  int64
 11  vote            92034 non-null    object
 12  image           27107 non-null    object
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 104.4+ MB

,Unnamed: 0,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
0,0,5.0,True,"08 4, 2014",A24E3SXTC62LJI,7508492919,{'Color:': ' Bling'},Claudia Valdivia,Looks even better in person. Be careful to not...,Can't stop won't stop looking at it,1407110400,NaN,NaN
1,1,5.0,True,"02 12, 2014",A269FLZCB4GIPV,7508492919,NaN,sarah ponce,When you don't want to spend a whole lot of ca...,1,1392163200,NaN,NaN
2,2,3.0,True,"02 8, 2014",AB6CHQWHZW4TV,7508492919,NaN,Kai,"so the case came on time, i love the design. I...",Its okay,1391817600,NaN,NaN
3,3,2.0,True,"02 4, 2014",A1M117A53LEI8,7508492919,NaN,Sharon Williams,DON'T CARE FOR IT. GAVE IT AS A GIFT AND THEY...,CASE,1391472000,NaN,NaN
4,4,4.0,True,"02 3, 2014",A272DUT8M88ZS8,7508492919,NaN,Bella Rodriguez,"I liked it because it was cute, but the studs ...",Cute!,1391385600,NaN,NaN

In [4]:
dataset.count()

Unnamed: 0        1128437
overall           1128437
verified          1128437
reviewTime        1128437
reviewerID        1128437
asin              1128437
style              605241
reviewerName      1128281
reviewText        1127669
summary           1127912
unixReviewTime    1128437
vote                92034
image               27107
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128437 entries, 0 to 1128436
Data columns (total 13 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Unnamed: 0      1128437 non-null  int64
 1   overall         1128437 non-null  float64
 2   verified        1128437 non-null  bool
 3   reviewTime      1128437 non-null  object
 4   reviewerID      1128437 non-null  object
 5   asin            1128437 non-null  object
 6   style           605241 non-null   object
 7   reviewerName    1128281 non-null  object
 8   reviewText      1127669 non-null  object
 9   summary         1127912 non-null  object
 10  unixReviewTime  1128437 non-null  int64
 11  vote            92034 non-null    object
 12  image           27107 non-null    object
dtypes: bool(1), float64(1), int64(2), object(9)
memory usage: 104.4+ MB

In [6]:
clean1=dataset.drop(["Unnamed: 0","verified","reviewTime","style","reviewerName","summary","unixReviewTime","vote","image"], axis=1)
clean1.dropna(how='any',inplace=True)
clean1

,overall,reviewerID,asin,reviewText
0,5.0,A24E3SXTC62LJI,7508492919,Looks even better in person. Be careful to not...
1,5.0,A269FLZCB4GIPV,7508492919,When you don't want to spend a whole lot of ca...
2,3.0,AB6CHQWHZW4TV,7508492919,"so the case came on time, i love the design. I..."
3,2.0,A1M117A53LEI8,7508492919,DON'T CARE FOR IT. GAVE IT AS A GIFT AND THEY...
4,4.0,A272DUT8M88ZS8,7508492919,"I liked it because it was cute, but the studs ..."
...,...,...,...,...
1128432,4.0,A1QWMCG1FNEP3A,B01HJC7N4C,Good for viewing. But doesn't have a button or...
1128433,5.0,A3FOBEJ9UVUTR3,B01HJC7N4C,I was given the Rockrok 3D VR Glasses Headset ...
1128434,5.0,AMUEAMKB4E33M,B01HJC7N4C,Super Fun! The RockRoc 3d vr headset is waaaay...
1128435,5.0,A2EV91MMOJ3IL4,B01HJC7N4C,Love it!\n\nI've had other VR glasses which al...
1128436,5.0,ARKQD9Z1VPOV2,B01HJH9IN6,i love it

In [7]:
clean1.reviewerID.unique()

array(['A24E3SXTC62LJI', 'A269FLZCB4GIPV', 'AB6CHQWHZW4TV', ...,
       'A1A4TR2FDGGXC7', 'A31VATK2B5ZOGL', 'AAWFS5U3VNU45'], dtype=object)

In [8]:
clean1["reviewerID"].value_counts()

A3HFQE02MDPC6I    331
A2LTYEYGKBYXRR    224
A1FL151ER57VW3    220
A3RDSN4SZKF3O     157
A3AYSYSLHU26U9    157
                 ...
A658FRGJTXWGV       1
A2QJFITZZSVKV7      1
A1EDUUMZGQTULJ      1
A3P7NNLXKNKTLQ      1
A26UUVB58PJV1U      1
Name: reviewerID, Length: 157195, dtype: int64

In [9]:
clean1["overall"].value_counts()

5.0    706432
4.0    184351
3.0     98214
1.0     81506
2.0     57166
Name: overall, dtype: int64

In [10]:
clean1["asin"].value_counts()

B00VH88CJ0    1682
B005NF5NTK    1634
B00X5RV14Y    1514
B00P7N0320    1513
B019PV2I3G    1508
              ...
B000YUE340       1
B0016KFRPG       1
B0014TAFPG       1
B00140BK5O       1
B0010S8S3C       1
Name: asin, Length: 48186, dtype: int64

In [11]:
clean1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1127669 entries, 0 to 1128436
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   overall     1127669 non-null  float64
 1   reviewerID  1127669 non-null  object
 2   asin        1127669 non-null  object
 3   reviewText  1127669 non-null  object
dtypes: float64(1), object(3)
memory usage: 43.0+ MB

In [12]:
clean1=clean1.reset_index(drop=True)
clean1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127669 entries, 0 to 1127668
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   overall     1127669 non-null  float64
 1   reviewerID  1127669 non-null  object
 2   asin        1127669 non-null  object
 3   reviewText  1127669 non-null  object
dtypes: float64(1), object(3)
memory usage: 34.4+ MB

In [14]:
def partition(x):
    if x<3:
        return "negative"
    if x==3:
        return "neutral"
    return "positive"

clean1['overall']=clean1['overall'].map(partition)

In [15]:
clean1=clean1.drop_duplicates()

In [16]:
clean1["overall"].value_counts

<bound method IndexOpsMixin.value_counts of 0          positive
1          positive
2           neutral
3          negative
4          positive
             ...
1127664    positive
1127665    positive
1127666    positive
1127667    positive
1127668    positive
Name: overall, Length: 1123322, dtype: object>

In [17]:
stop_words = set(stopwords.words('english')) #set of stopwords
print(stop_words)

{'when', 'under', 'my', 'himself', 'for', 'd', 'be', 'aren', 't', 'and', 'down', 'm', 'not', 'isn', 'that', 'such', 'an', 'in', 'she', 'our', "couldn't", 'herself', 'out', 'same', 'itself', 'from', 'only', "wasn't", 'to', 'couldn', 'ain', 'themselves', 're', 'of', 'further', 'very', "should've", 'too', 'ourselves', 'again', 'a', 'shan', "you've", 'some', 'no', "don't", 'both', "isn't", 'has', 'them', 'didn', 'these', 'against', 'while', "hasn't", 'will', 'its', "you'd", 'ma', 'most', 'what', 'between', 'as', "that'll", 'don', 'mustn', 'wasn', 'or', 'o', 'by', 'mightn', 'below', 'your', 'until', "shouldn't", 'do', "hadn't", 'we', 'it', 'are', 'about', 'after', 'on', 'so', 'above', 'll', "haven't", 'he', 'their', 'wouldn', 'haven', 'have', 'him', 'where', 'those', 'needn', 'into', 'each', 'nor', 'yourself', "mightn't", 'hasn', "you're", 'his', 'does', 'before', 'once', 'had', 'over', 'other', 'at', 'theirs', 'i', 'doesn', 'shouldn', "aren't", 's', 'yours', 'whom', "it's", 'with', 'during', 'more', 'was', 'me', 'can', 'than', 'her', 'up', 'having', 'y', 'but', 'all', "wouldn't", 'now', 'weren', 'this', 'hers', 'been', "needn't", 'you', 'should', 'off', 'did', 'they', "mustn't", 'doing', "won't", 'if', 'because', 'yourselves', 'few', 'then', 'how', 'ours', 'myself', "didn't", 'which', 'who', 'hadn', 'there', "weren't", 'why', 'am', 'being', "she's", 'the', 'won', 'any', "shan't", 'own', 'just', 'through', 'here', 've', 'were', "you'll", "doesn't", 'is'}

In [18]:
sno = nltk.stem.SnowballStemmer('english') #initialising the snowball stemmer

In [21]:
import re
def data_cleaning(series):
    '''The function takes a Pandas Series object containing text in all the cells
       And performs following Preprocessing steps on each cell:
       1.
       2. Clean text from punctuations and special characters
       3. Retain only non-numeric Latin characters with lenght > 2
       4. Remove stopwords from the sentence
       5. Apply lower casing
       6. Apply stemming to all the words in the sentence
       
       Return values:
       1. final_string - List of cleaned sentences
       2. list_of_sent - List of lists which will be used as input to the W2V model'''
    
    i = 0
    string = ""
    final_string = []    ## This list will contain cleaned sentences
    list_of_sent = []    ## This is a list of lists used as input to the W2V model at a later stage
    
    for sent in series.values:
        filtered_sent = []
        sent = re.sub('[^a-zA-Z0-9\n]', ' ', sent) # remove special characters
        sent = re.sub('\s+',' ', sent) # replace multiple spaces with single space
        sent = sent.lower() # convert all characters to lower case
        for word in sent.split():
            if word not in stop_words and len(word)>2:
                word = sno.stem(word) # Apply Stemming using snowball stemmer
                filtered_sent.append(word)
        list_of_sent.append(filtered_sent) # This list is used later
        string = " ".join(filtered_sent) # Cleaned sentence
        final_string.append(string) # List of cleaned sentences
        i+=1
    return final_string, list_of_sent

In [24]:
final_string, list_of_sent = data_cleaning(clean1['reviewText'])

In [25]:
clean1['CleanedText']=final_string
clean1.head()

,overall,reviewerID,asin,reviewText,CleanedText
0,positive,A24E3SXTC62LJI,7508492919,Looks even better in person. Be careful to not...,look even better person care drop phone often ...
1,positive,A269FLZCB4GIPV,7508492919,When you don't want to spend a whole lot of ca...,want spend whole lot cash want great deal shop...
2,neutral,AB6CHQWHZW4TV,7508492919,"so the case came on time, i love the design. I...",case came time love design actual miss stud no...
3,negative,A1M117A53LEI8,7508492919,DON'T CARE FOR IT. GAVE IT AS A GIFT AND THEY...,care gave gift okay expect
4,positive,A272DUT8M88ZS8,7508492919,"I liked it because it was cute, but the studs ...",like cute stud fall easili protect phone would...

In [26]:
testing=clean1[:9999]
testing.head()

,overall,reviewerID,asin,reviewText,CleanedText
0,positive,A24E3SXTC62LJI,7508492919,Looks even better in person. Be careful to not...,look even better person care drop phone often ...
1,positive,A269FLZCB4GIPV,7508492919,When you don't want to spend a whole lot of ca...,want spend whole lot cash want great deal shop...
2,neutral,AB6CHQWHZW4TV,7508492919,"so the case came on time, i love the design. I...",case came time love design actual miss stud no...
3,negative,A1M117A53LEI8,7508492919,DON'T CARE FOR IT. GAVE IT AS A GIFT AND THEY...,care gave gift okay expect
4,positive,A272DUT8M88ZS8,7508492919,"I liked it because it was cute, but the studs ...",like cute stud fall easili protect phone would...

In [28]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9999 entries, 0 to 13246
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   overall      9999 non-null   object
 1   reviewerID   9999 non-null   object
 2   asin         9999 non-null   object
 3   reviewText   9999 non-null   object
 4   CleanedText  9999 non-null   object
dtypes: object(5)
memory usage: 468.7+ KB

In [29]:
testing.to_csv('testing.csv')